header {
  position: relative;
  z-index: 5;
  margin-bottom: 5rem;
}

.nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;

  color: var(--color-accent);
  font-size: 2rem;
  font-weight: 700;

  background: var(--color-secondary);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;

  padding: 2rem 0;
}

.nav ul a {
  color: var(--color-accent);
}

.nav ul li {
  text-transform: uppercase;
}

.nav ul li:not(:last-child) {
  margin-right: 10rem;
}

.valorant__logo {
  width: 24.9rem;
  height: 4.2rem;
}

/* mobile burger */
.mobile__nav--activator {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 50%;

  display: none;

  width: 8rem;
  height: 8rem;

  background-color: transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid var(--color-accent);

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.burger__decor {
  position: relative;
  display: block;
  width: 4.5rem;
  height: 2px;
  background-color: var(--color-accent);

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger__decor:after,
.burger__decor:before {
  position: absolute;
  content: "";
  width: 4.5rem;
  height: 2px;
  background-color: var(--color-accent);
}

.burger__decor::before {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}

.burger__decor::after {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}

.mobile__nav--activator.burger_active .burger__decor::before {
  -webkit-transform: translateY(0px) rotate(100deg);
  -ms-transform: translateY(0px) rotate(100deg);
  transform: translateY(0px) rotate(100deg);
}

.mobile__nav--activator.burger_active .burger__decor {
  -webkit-transform: translateY(0px) rotate(40deg);
  -ms-transform: translateY(0px) rotate(40deg);
  transform: translateY(0px) rotate(40deg);
}

.mobile__nav,
.mobile__nav--activator.burger_active .burger__decor::after {
  display: none;
}

.mobile__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  height: 100vh;

  color: var(--color-accent);
  font-size: 3rem;
  font-weight: 700;

  padding: 2rem 0;

  background: transparent;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

.mobile__nav ul a {
  color: var(--color-accent);
}

.mobile__nav ul li {
  text-transform: uppercase;
  -webkit-animation: burgerAppearance 0.7s linear;
  animation: burgerAppearance 0.7s linear;
}

.mobile__nav ul li:not(:last-child) {
  margin: 0 0 3rem 0;
}

@-webkit-keyframes burgerAppearance {
  0% {
    -webkit-transform: translateY(-100rem);
    transform: translateY(-100rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes burgerAppearance {
  0% {
    -webkit-transform: translateY(-100rem);
    transform: translateY(-100rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* mobile navigation */
@media only screen and (max-width: 1800px) {
  .nav ul {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1440px) {
  .valorant__logo {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  .nav ul li:not(:last-child) {
    margin-right: 6rem;
  }
}

@media only screen and (max-width: 1275px) {
  .nav ul li:not(:last-child) {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 1079px) {
  .nav {
    display: none;
  }
  .mobile__nav--activator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__nav.active_nav {
    display: block;
  }
}
