@import "../../styles/font.css";
@import "../../styles/base.css";
@import "../../styles/variables.css";
@import "../../styles/header.css";
@import "../../styles/themeChanger.css";
@import "../../styles/background.css";

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0 auto;
  padding-bottom: 4rem;

  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-bottom: 5rem;
}

.form__input,
.form__textarea {
  padding: 1rem;
}

.form__input,
.form__textarea {
  width: 30rem;
  font-family: "Montserrat", sans-serif;
}

.form__input {
  margin-bottom: 1.5rem;
}

.form__textarea {
  resize: none;
  margin-bottom: 2.5rem;
}

.form__input:active,
.form__input:focus,
.form__textarea:active,
.form__textarea:focus {
  outline: none;
}

.form__title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: var(--font-color-2);
}

.form__submit {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;

  background: #ff4655;
  width: 15rem;
  height: 4rem;

  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  position: relative;
  z-index: 1;
  display: inline-block;

  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
}

.form__submit:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #1f2326;

  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;

  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);

  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__submit:hover {
  color: #fff;
}

.form__submit:hover:after {
  left: 0;
  width: 100%;
}

.form__submit:active {
  top: 2px;
}

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.new {
  background: var(--color-accent);
  width: 60rem;

  -webkit-border-radius: 1rem;
  border-radius: 1rem;

  padding: 2rem;
  margin: 1rem;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  color: var(--font-color-2);

  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

  -webkit-animation: appearance 1s ease;
  animation: appearance 1s ease;
}

.news__date {
  font-size: 1.6rem;
  color: var(--font-color-2);
  margin-bottom: 1.5rem;
}

.news__title {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color-2);

  max-width: 20rem;
  margin-bottom: 1rem;
}

.news__content {
  font-size: 1.4rem;
  color: var(--color-secondary);
  max-width: 20rem;
  margin-bottom: 1.5rem;
}

.news__img {
  width: 32rem;
  height: 18rem;

  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;

  margin-right: 3rem;
}

.news__link {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.news__link svg {
  height: 2rem;
  width: 2rem;

  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;

  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;

  margin-left: 1rem;
}

.news__link:hover svg {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
    transform: translateX(30rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
    transform: translateX(30rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1079px) {
  .container {
    -webkit-transform: translateY(12rem);
    -ms-transform: translateY(12rem);
    transform: translateY(12rem);
  }
}

@media only screen and (max-width: 532px) {
  .new {
    width: 35.5rem;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .news__img {
    margin: 0 0 1.5rem 0;
  }

  .news__title,
  .news__content {
    max-width: 31rem;
  }
}
