@import "../../styles/font.css";
@import "../../styles/base.css";
@import "../../styles/variables.css";
@import "../../styles/header.css";
@import "../../styles/themeChanger.css";
@import "../../styles/background.css";

.shop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  padding-bottom: 5rem;

  -webkit-animation: appearance 2.5s ease;
  animation: appearance 2.5s ease;
}

.shop__title {
  font-weight: 700;
  font-size: 5rem;
  color: var(--font-color-2);
  text-align: center;

  margin-bottom: 3rem;
  padding: 0 3rem;
}

.container {
  width: 80%;

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (35.8rem) [auto-fit];
  grid-template-columns: repeat(auto-fit, 35.8rem);
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px 30px;
  grid-auto-flow: row;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop__item {
  position: relative;
  background: var(--color-accent);
}

.shop__product {
  width: 30rem;
  display: block;
}

.shop__description {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 0.5rem;
}

.shop__like {
  width: 4rem;
  height: 4rem;
  fill: var(--font-color-1);
  margin-right: 4rem;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.shop__like.active {
  fill: red;
}

.shop__count {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);

  padding: 0.2rem;

  position: absolute;
  left: 57%;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1079px) {
  .shop {
    -webkit-transform: translateY(12rem);
    -ms-transform: translateY(12rem);
    transform: translateY(12rem);
  }
}
