@import "../../styles/font.css";
@import "../../styles/base.css";
@import "../../styles/variables.css";
@import "../../styles/header.css";
@import "../../styles/themeChanger.css";
@import "../../styles/background.css";

@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700;800&display=swap");

.weapons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0 auto;
  font-family: "Stick No Bills", "Montserrat", sans-serif;
  padding-bottom: 5rem;
}

.weapons__heading {
  color: var(--font-color-2);
  text-transform: uppercase;
  font-size: 6rem;
  text-align: left;
  font-weight: 800;

  max-width: 50rem;
  margin-bottom: 5rem;

  -webkit-animation: headingAppearance 1s ease;
  animation: headingAppearance 1s ease;
}

.weapons__container {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  max-width: 113rem;

  -webkit-animation: weaponsAppearance 1s ease;
  animation: weaponsAppearance 1s ease;
}

.weapon {
  position: relative;
  padding: 6rem;
  border: 0.1rem solid #bdbcb7;
}

.weapon:nth-child(even) {
  border-left: none;
}

.weapon__title {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-secondary);

  margin-bottom: 1rem;
}

.weapon__view {
  width: 100%;
  height: 16.1rem;

  -webkit-filter: drop-shadow(1.5rem 2.2rem 0 rgba(15, 25, 35, 0.17));
  filter: drop-shadow(1.5rem 2.2rem 0 rgba(15, 25, 35, 0.17));

  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);

  margin: 1.5rem 0 2.5rem 0;
}

.weapon:hover .weapon__view {
  -webkit-transform: scale(1.05) rotateZ(10deg);
  -ms-transform: scale(1.05) rotate(10deg);
  transform: scale(1.05) rotateZ(10deg);
}

.weapon__description {
  position: absolute;
  bottom: 3rem;

  color: var(--font-color-1);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;

  max-width: 45rem;
}

.weapon__error {
  text-align: center;
  font-size: 3rem;
  color: var(--font-color-2);
}

@-webkit-keyframes weaponsAppearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes weaponsAppearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes headingAppearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30vw);
    transform: translateX(-30vw);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes headingAppearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30vw);
    transform: translateX(-30vw);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1079px) {
  .weapons {
    -webkit-transform: translateY(12rem);
    -ms-transform: translateY(12rem);
    transform: translateY(12rem);
  }

  .weapons__heading {
    text-align: center;
    max-width: none;
  }
}

@media only screen and (max-width: 900px) {
  .weapon:nth-child(even) {
    border: 0.1rem solid #bdbcb7;
  }

  .weapon:not(:last-child) {
    border-bottom: none;
  }
}

@media only screen and (max-width: 500px) {
  .weapons__heading {
    font-size: 4rem;
  }

  .weapon {
    padding: 3rem;
  }

  .weapon__view {
    margin: 0 0 2.5rem 0;
    height: 14rem;
  }

  .weapon__view,
  .weapon:hover .weapon__view {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .weapon__description {
    max-width: 35rem;
  }

  .weapon__title,
  .weapon__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 370px) {
  .weapon__view {
    height: 12rem;
  }
}

@media only screen and (max-width: 320px) {
  .weapon__view {
    height: 11rem;
  }
}
