extends layout.pug

block content

  h3.page-title Welcome to OfCourse Library

  if (courses.length)
    ul.courses 
      each course in courses
        li.course 
          a(href='/' + course._id)= course.title
          .options 
            a.edit(href='/api/v1/courses/' + course._id) edit
            a.delete(href='/api/v1/courses/' + course._id) delete
  else
    p.message-box You don't have any courses yet.
