// Dark Theme

// $like: #ff4d6d;
// $white-smoke: #e5e5e5;
// $bg-primary: #111;
// $bg-secondary: #222;
// $bg-tertiary: #333;

// $font-color-09: rgba(255, 255, 255, 0.9);
// $font-color-08: rgba(255, 255, 255, 0.8);
// $font-color-07: rgba(255, 255, 255, 0.7);
// $font-color-06: rgba(255, 255, 255, 0.6);
// $font-color-05: rgba(255, 255, 255, 0.5);
// $font-color-04: rgba(255, 255, 255, 0.4);
// $font-color-03: rgba(255, 255, 255, 0.3);
// $font-color-02: rgba(255, 255, 255, 0.2);
// $font-color-01: rgba(255, 255, 255, 0.1);

// Light Theme

$like: #ff4d6d;
$white-smoke: #b4b4b4;
$bg-primary: #e5e5e5;
$bg-secondary: rgb(180, 180, 180);
$bg-tertiary: rgb(165, 165, 165);

$font-color-09: rgba(0, 0, 0, 0.9);
$font-color-08: rgba(0, 0, 0, 0.8);
$font-color-07: rgba(0, 0, 0, 0.7);
$font-color-06: rgba(0, 0, 0, 0.6);
$font-color-05: rgba(0, 0, 0, 0.5);
$font-color-04: rgba(0, 0, 0, 0.4);
$font-color-03: rgba(0, 0, 0, 0.3);
$font-color-02: rgba(0, 0, 0, 0.2);
$font-color-01: rgba(0, 0, 0, 0.1);

$font-family-primary: "Ubuntu", sans-serif;
$font-family-secondary: "Exo 2", sans-serif;
